* {
    box-sizing: border-box;
}

body {
    background-color: #ffe0b5;
    width: 13rem;
    height: auto;
    font-family: cursive;
}

a, a:active, a:visited {
    font-size: 15px;
    margin: auto;
    color: #462521;
    transition: 200ms linear;
}

a:hover {
    color: #ffe0b5;
    background-color: #8a6552;
}

p {
    font-size: 15px;
    margin: auto;
    color: #462521;
}